attrs==19.3.0
aws-sam-translator==1.20.1
awscli==1.17.13
beautifulsoup4==4.8.2
boto==2.49.0
boto3==1.11.13
botocore==1.14.13
cfn-lint==0.27.4
colorama==0.4.3
docutils==0.15.2
importlib-metadata==1.5.0
jmespath==0.9.4
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
pyasn1==0.4.8
pyrsistent==0.15.7
python-dateutil==2.8.1
PyYAML==5.2
rsa==3.4.2
s3transfer==0.3.3
setuptools-scm==3.4.3
six==1.14.0
soupsieve==1.9.5
toml==0.10.0
urllib3==1.25.8
zipp==2.2.0
