awscli==1.16.147
beautifulsoup4==4.7.1
boto==2.49.0
botocore==1.12.137
colorama==0.3.9
docutils==0.14
jmespath==0.9.4
pyasn1==0.4.5
python-dateutil==2.8.0
# https://github.com/aws/aws-cli/issues/3828
# PyYAML>=3.10,<=3.13, can't do anything
PyYAML==3.13
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
soupsieve==1.9.1
urllib3==1.24.2
